<nav class="navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        Simpe Authentication App
    </a>
</nav>
<div style="margin-top: 30px">
    <a href="/login" class="btn btn-primary btn-lg active">Login</a>
    <a href="/register" class="btn btn-primary btn-lg active">Register</a>
</div>